
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  padding: 50px; /* top, right, bottom, left */
  padding: 25px 50px; /* top & bottom, left & right */
  background: #1897b6;
  color: #fff;
  font-size: 1.6em;
  font-weight: 500;
}
header {
  text-align: center;
  color: #0e759b;
  text-decoration: #150e9b;
  padding: 275px;
  height: 500px;
  width: 100%;
  border: 3px solid #000000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: url('../assets/images/headerBkg.png');
  background-size: cover;
  background-position-y: -250px;
  /* HEX values #000(black), #fff(white), #f00(blue), #0f0(green), #00f(blue) */
}
section {
  width: 100%;
  min-height: 300px;
  padding: 100px 50px;
  border: 3px solid #fff;
}
#about {
  width: 100%;
  padding: 100px 50px;
  background: #1f048d;
  border: 3px solid #000;
}
.fancyHeading {
  font-family: 'Tiny5', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  text-decoration: underline;
}
#careerGoals {
  width: 100%;
  padding: 50px 50px;
  background: #fff;
  border: 3px solid #000;
  color: #322fe8;
}
#workSamples {
  background: #fff;
  color: #333;
  text-align: center;
}
  .thumbnail {
    width: 30%;
    border: 3px solid #999;
    border-radius: 16px;
    box-shadow: 2x 3px 5px #222;
    margin: 15px;
  }
  .socialMedia {
    width: 10%;
    border: 3px solid #999;
    border-radius: 16px;
    box-shadow: 2x 3px 5px #222;
  }
#contact {
  background: #d70606;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 1.2em;
}
  #contact > a:link {
    color: #fff;
  }
footer {
  text-align: right;
  padding-right: 50px;
  padding-top: 10px;
  font-size: .9em;
  color: #fff;
}